@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.div-flex-adjust-justify-between {
  @apply flex flex-row items-center justify-between;
}
.styleLogin_btnGoogleFace {
  @apply mt-4 h-fit w-full rounded-md border-2 border-cyan-500 p-2 text-center font-semibold text-cyan-400;
}
